

body{
    font-family: 'Nunito Sans', sans-serif;
    font-size:14px;
    color:hsl(0, 0%, 100%);
    
}

section{
   
  
    background-color:hsl(207, 26%, 17%);
    
}


.col-12{
   
    margin-bottom:25px;
    
}

.germany{
    width:150px;
    margin:40px auto;
    background-color:hsl(209, 23%, 22%);
    border-radius:5px;
    overflow: hidden;
}
.germany img{
    height:100px;
    width:100%;
}
.flag_detail{
    margin:10px auto;
    padding:10px;
    
}
.heading{
    font-size:14px;
    color:hsl(0, 0%, 100%);
    font-weight:600;
    margin-bottom:10px;
}
.heading ~ p{
    font-size:10px;
    color:hsl(0, 0%, 100%);
    margin-bottom:0px;
    letter-spacing:0.5px;
}

@media(min-width:400px) {
    .germany{
        width:200px;
    }
    .germany img{
        height:130px;
        width:100%;
    }
   
}
@media(min-width:576px) {
    .heading{
        font-size:16px;
    }
    .heading ~ p{
        font-size:12px;
       
    }

}
@media(min-width:768px) {

    .germany{
        width:150px;
    }
    .germany img{
        height:100px;
        width:100%;
    }



}
@media(min-width:990px) {

    .germany{
        width:200px;
    }
    .germany img{
        height:130px;
        width:100%;
    }



}
